*{
  color: #D9D9D9;
}

body{
  background-color: #121212
}

#app{
  padding: 15px;
}

button{
  font-family: 'Inconsolata', monospace;
  font-size: 13px;
  border: 2px solid #D9D9D9;
  background-color: #121212;
  cursor: pointer;
  transition-duration: 0.2s;
  user-select: none;
  align-items: stretch;
}

button:hover{
  background-color: #323232
}

.button--disabled{
  cursor: default;
}

.currency-container {
  display: flex;
  margin-bottom: 20px;
}

.red-currency, .green-currency, .blue-currency{
  font-size: 20px;
  min-width: 200px;
  padding: 10px;
  text-align: left;
}

.red-currency{
  color: #FF200C;
}

.green-currency{
  color: #00FC00;
}

.blue-currency{
  color: #5013FF;
}

.navigation-container{
  display: flex;
}

.navigation-button{
  font-size: 20px;
  min-width: 120px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.color-producer {
  width: 800px;
  border: 2px solid #D9D9D9;
  margin-bottom: 20px;
}

.color-adder-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
}

.color-adder-currency-container{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 150px;
  border: 1px solid #D9D9D9;
}

.color-adder-red{
  color: #FF200C;
  font-size: 20px;
}

.color-adder-green{
  color: #00FC00;
  font-size: 20px;
}

.color-adder-blue{
  color: #5013FF;
  font-size: 20px;
}

.color-progress-container{
  width: 350px;
  border: 1px solid #D9D9D9;
}

.color-progress-red, .color-progress-green, .color-progress-blue{
  display: inline-block;
  height: 100%;
}

.color-progress-red{
  background-color: #FF200C;
}

.color-progress-green{
  background-color: #00FC00;
}

.color-progress-blue{
  background-color: #5013FF;
}

.color-adder-button{
  padding: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-color: #A3FF90;
}

.color-adder-button:hover{
  background-color: #515151;
}

.color-adder-button--disabled, .color-adder-button--auto{
  background-color: #6B6B6B;
  border-color: #FFA28A;
}

.color-adder-button--disabled:hover, .color-adder-button--auto:hover{
  background-color: #6B6B6B;
}

.color-upgrade-coll-button-red, .color-upgrade-coll-button-green, .color-upgrade-coll-button-blue{
  cursor: pointer;
  padding: 0 5px;
  height: 20px;
  border-top: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  transition-duration: 0.2s;
}

.color-upgrade-coll-button-red:hover, .color-upgrade-coll-button-green:hover, .color-upgrade-coll-button-blue:hover{
  background-color: #515151;
}


.color-upgrade-coll-button-red:after, .color-upgrade-coll-button-green:after, .color-upgrade-coll-button-blue:after{
  float: right;
  content: "\25bc"; /* unicode char for down arrow */
}

.coll-active:after{
  float: right;
  content: "\25b2"; /* unicode char for up arrow */
}

.color-upgrade-coll-container-red, .color-upgrade-coll-container-green, .color-upgrade-coll-container-blue{
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.color-effect-container{
  display: flex;
  align-items: center;
  border: 1px solid #D9D9D9;
  height: 25px;
  margin: 10px;
  padding: 10px;
}

.color-effect-green{
  color: #00FC00;
  font-size: 20px
}

.color-effect-blue{
  color: #5013FF;
  font-size: 20px
}

.color-upgrade-container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.color-upgrade-button, .color-auto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 22%;
  height: 100px;
  font-size: 12px;
  text-align: center;
  border-color: #A3FF90;
}

.color-upgrade-button:hover, .color-auto:hover{
  background-color: #515151;
}

.color-upgrade-button--disabled{
  background-color: #6B6B6B;
  border-color: #FFA28A;
}

.color-upgrade-button--disabled:hover{
  background-color: #6B6B6B;
  cursor: default;
}

.color-upgrade-button--max{
  border-color: #F9FA93;
  background-color: inherit;
}

.color-upgrade-button--max:hover{
  border-color: #F9FA93;
  cursor: default;
}

.color-auto--manual{
  border-color: #FFA28A;
}

.color-auto--manual:hover{
  background-color: #515151;
}

.color-auto--auto{
  border-color: #A3FF90;
}

.color-auto--auto:hover{
  background-color: #515151;
}

.options-tab button{
  font-size: 20px;
}

.options-button{
  width: 170px;
  height: 70px;
  margin-bottom: 15px;
}
