#app{
  margin: 15px;
}

button{
  font-family: monoid;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  user-select: none;
}

.button--disabled{
  cursor: default;
}

.currency-container {
  display: flex;
  margin-bottom: 20px;
}

.red-currency, .green-currency, .blue-currency{
  min-width: 200px;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.red-currency{
  color: #f00
}

.green-currency{
  color: #0f0
}

.blue-currency{
  color: #00f
}

.color-producer {
  width: 1000px;
  border: 2px solid black;
  margin-bottom: 20px;
}

.color-adder-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
}

.color-adder-currency-container{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  border: 1px solid black;
}

.color-progress-container{
  width: 500px;
  border: 1px solid black;
}

.color-progress-red, .color-progress-green, .color-progress-blue{
  display: inline-block;
  height: 100%;
}

.color-progress-red{
  background-color: #f00;
}

.color-progress-green{
  background-color: #0f0;
}

.color-progress-blue{
  background-color: #00f;
}

.color-adder-button{
  padding: 5px;
  font-size: 13px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
}

.color-upgrade-coll-button-red, .color-upgrade-coll-button-green, .color-upgrade-coll-button-blue{
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #eee
}

.color-upgrade-coll-button-red:after, .color-upgrade-coll-button-green:after, .color-upgrade-coll-button-blue:after{
  float: right;
  content: "\25bc"; /* unicode char for down arrow */
}

.coll-active:after{
  float: right;
  content: "\25b2"; /* unicode char for up arrow */
}

.color-upgrade-coll-container-red, .color-upgrade-coll-container-green, .color-upgrade-coll-container-blue{
  padding: 0 10px;
  max-height: 0;
  background-color: #eee;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.color-effect-container{
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: #eee;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}

.color-upgrade-container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.color-upgrade-button, .color-auto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 25%;
  height: 120px;
  font-size: 10px;
  text-align: center;
  border: 1px solid black;
}
